@font-face {
    font-family: neue;
    src: url(./NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0%;
    padding: 0%;

}

body{
    font-family: "neue";
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(238,235,227);
    position: relative;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    
    
    
}

nav{
    
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2.5vw 0%; */
    position: relative;
    /* background-color: aqua; */
}

nav img{
    padding: 2vw 2vw;

    
}

/* .nav-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */

.nav-button a{
    
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 5px;
    border: 1px solid #615757;
    border-radius: 50px;
    gap: 3vw ;
    font: 500;
    color: rgba(0, 0, 0, 0.596);
}

.centre{
    /* width: 100%; */
    height: 68vh;
    margin: 15px;
    padding-bottom: 9vh;
    border-bottom: 1px solid rgb(191, 187, 182);
    /* background-color: blueviolet; */
    display: flex;
    align-items:flex-end ;
    justify-content: space-between;
}

.left h3{
    width: 25vw;
    font-size: 1.5vw;
    padding: 5px;
    line-height: 1.5vw;

   

}

.right h1{
   
    font-size:10vw  ;
    line-height: 8vw;
    text-align: start;
}

.video{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
   
}

.video video{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /* padding: 5px; */
    border-radius: 3px solid black  ;
}

.page2{

    width: 100%;
    height: 90vh;
    /* padding: 8vw 0 */
   
}



.moving-text{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    
}

.moving-text::-webkit-scrollbar{
    display: none;
}
.moving-text h1{
    font-size: 6vw;
    display: inline-block;
}

.gola{
    height: 70px;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    margin: 1vw 2vw;
    background-color: rgb(254,50,11);
}

.con{
     display: flex;
    padding: 5px;
    animation-name: moving-text;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes moving-text{
    from{
        translate: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page2-bottom{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: chocolate;
    
}

.page2-bottom h1{
    font-size: 3.5vw;
    width: 50%;
    padding: 3vw;

}

.bottom-part2{
    width: 20%;
    padding: 3vw ;
    /* background-color: blueviolet; */
    
}
.bottom-part2 img{
    width: 100%;
    border-radius: 25px ;
}

.bottom-part2  p{
     font-weight: 100;
     font-size: small;
     margin-top: 1vw;
}
.object{
    display: flex;
    background-color: blue;
    padding: 1vw;
    align-items: center;
}
.gola2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
   margin-right: 1vw;
    background-color: rgb(254,50,11); ;
}

.elem{
    background-color: brown;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    position: relative;
    overflow: hidden;
   
}

.elem h2{
    font-size: 2vw;
    margin-left: 1vw;
    z-index: 9;

}
.overlay{
 width: 100%;
 height: 100%;
 background-color: orange;
 position: absolute;
 top: -100%;
 transition: all ease 0.3s;
 
}

.elem:hover .overlay{
    top: 0%;
}

.page3 h5{
  font-size: 1.5vw;
  padding: 13px 21px ;
  margin: 0 7px;
  position: relative;
  border: 1px solid black;
  border-radius: 50px;
  
  }

.page4{
    width:  100%;
    height: 110vh;
    background-color: darkorange;
}

.page4-left{
    width: 30%;
    height: 200px;
    background-color: rgba(226, 43, 43, 0.021);
}