*{
    margin: 0%;
    padding: 0%;

}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(238,235,227);

}

nav{
    
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2.5vw 0%; */
    position: relative;
    /* background-color: aqua; */
}

nav img{
    padding: 2vw 2vw;

    
}

/* .nav-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */

.nav-button a{
    
    text-decoration: none;
    padding: 10px 30px;
    margin-right: 5px;
    border: 1px solid #615757;
    border-radius: 50px;
    gap: 3vw ;
    font: 500;
    color: rgba(0, 0, 0, 0.596);
}
